<script type="text/javascript">
  var h2ht = 30;
  Csster.style({
    html: {
      'font-family': 'verdana',
      'overflow': 'scroll',
      'height': '100%'
    },
    body: {
      margin: '0',
      padding: '0',
      'height': '100%'
    },
    'h2': {
      margin: '0',
      'font-size': 'x-small',
      'background-color': 'black',
      color: 'white',
      width: '100%',
      padding: '0 20px',
      height: h2ht,
      lineHeight: h2ht,
      opacity: .6

    },
    'body.past-pinned section#past,body.present-pinned section#present,body.future-pinned section#future,body.undefined-pinned section#undefined': { borderTopWidth: h2ht, borderColor: '#999'},
    section: {
      margin: '0',
      'background-color': '#eee',
      padding: 0,
      include: clearfix()

    },
    article: {
      display: 'table-cell',
      padding: '0 1%',
      'min-width': 200,
      'max-width': 400,
      paddingBottom: 20,
//      borderLeft: '1px solid #999',
//      borderRight: '1px solid #999',
      paddingTop: 0,
      '&:first-child': {
        marginLeft: 0
      },
      '&:last-child': {
        width: '*',
        'max-width': 4000,
        marginRight: 0
      },
      'h4, p': {
        'font-size': 'x-small',
        padding: '2px 10px', margin: 0, color: 'white'
      },
      'h3': {
        'font-size': 'x-small',
        padding: '3px 0', margin: 0,
        backgroundColor: '#333',
        color: '#999'
      }
    },
    'h3.milestone': {
      padding: '20px 0 10px 0',
      margin: 0,
      textAlign: 'center',
      fontSize: 'small',
      lineHeight: '1.0',
      backgroundColor: 'rgba(0,0,0,1)',
      color: 'white'
    },
    'h4.theme': {
      fontSize: 'small',
      textDecoration: 'underline'
    },
    'section.epoch': {
      paddingLeft: 40
      },
    '.epoch.past': {
      background: 'url(/assets/textures/Colors_and_texture_of_a_brick_ground_artlibre_jnl.png)'
    },
    '.epoch.present': {
      background: 'url(/assets/textures/hazard-stripes-texture-lg.jpg)'
    },
    '.epoch.future': {
      background: 'url(/assets/textures/texture_leaves_by_kuschelirmel_stock.jpg)'
    },
    '.epoch.undefined': {
      background: 'url(/assets/textures/Wallpaper-Texture-Texture-Smoke-Wreath-Ornaments-Wallpaper-Wallpapers.jpg)'
    },
    'article.theme': {
      backgroundColor: 'rgba(0,0,0,.8)',
      color: 'white'
    }
  });


</script>

<div ng-app="Trackban" ng-controller="TrackbanCtrl">

  <section ng-repeat='m in hier.values'>
    <h3 class="milestone">{{milestoneName(m.group)}}</h3>
    <section name='{{e.group}}' class="epoch {{e.group}}" ng-repeat='e in m.values'>
      <article class="theme" ng-repeat='th in e.values'>
        <h4 class="theme">{{th.group}}</h4>
        <div ng-repeat="story in th.values">
          <story/>
        </div>
      </article>
    </section>
  </section>

</div>




<script type="text/javascript">
  setTimeout(function () {
  //    $('#past-hd').fixie({pinnedBodyClass: 'past-pinned', topMargin: 0});
  //    $('#present-hd').fixie({
  //      topMargin: h2ht,
  //      bottomMargin: h2ht * 2,
  //      pinSlop: 5,
  //      pinnedBodyClass: 'present-pinned'
  //    });
  //    $('#past-hd').fixie({
  //      topMargin: h2ht * 2,
  //      bottomMargin: h2ht * 1,
  //      pinSlop: -10,
  //      pinnedBodyClass: 'future-pinned'});
  //    $('#undefined-hd').fixie({
  //      topMargin: h2ht * 3,
  //      bottomMargin: 0,
  //      pinSlop: -20,
  //      pinnedBodyClass: 'undefined-pinned'
  //    });
  //  }, 3000);
</script>
